
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.app {
  height: 100%;
  width: 100%;
}

button {
  margin: 10px;
}

section.upload {
  display: inline-block;
}

section.list {
  display: inline-block;
  vertical-align: top;
}